<div class="user-survey">
  <div class="row">
    <div class="offset-md-3 col-md-6">

      <% if @survey.active? %>
        <h1>
          <%= @survey.title %>
        </h1>
        <%= @survey.description.html_safe %>
        <hr>
        <form accept-charset="UTF-8" method='post' action='/responses'>
          <% @survey.questions.each do |question| %>
            <div class="user-question">
              <% case question.question_type %>
              <% when "single" %>
                <fieldset class="form-group">
                  <legend><%= question.title %><%= '*' if question.mandatory %></legend>
                  <% question.answer_variants.each do |answer_variant| %>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>">
                        <%= answer_variant.title %>
                      </label>
                    </div>
                  <% end %>
                </fieldset>
              <% when "multiply" %>
                <fieldset class="form-group">
                  <legend><%= question.title %><%= '*' if question.mandatory %></legend>
                  <% question.answer_variants.each do |answer_variant| %>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="question-<%= question.id %>[]" value="answer-variant-<%= answer_variant.id %>">
                        <%= answer_variant.title %>
                      </label>
                    </div>
                  <% end %>
                </fieldset>
              <% when "text" %>
                <div class="form-group">
                  <label for="question-<%= question.id %>"><%= question.title %><%= '*' if question.mandatory %></label>
                  <textarea class="form-control" id="question-<%= question.id %>" rows="3" name="question-<%= question.id %>" placeholder="<%= question.answer_variants.first.title %>"></textarea>
                </div>
              <% else %>
                Another question!
              <% end %>
            </div>
          <% end %>
          <div class="text-xs-center">
            <button type="submit" class="btn btn-primary"><%= t('common.submit') %></button>
          </div>
        </form>
        <p>* - <%= t('survey.mandatory') %></p>

      <% else %>
        <div id="page_error">
          <div class="error_message text-xs-center">
            <div class="four-oh-four"><h1>Well...</h1></div>
            <div class="warning">
              <h2>This survey is inactive :(</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
