<% content_for(:title, @survey.title)%>
<% meta_tag :description, @survey.description? ? strip_tags(@survey.description).truncate(140) : '*' %>

<div class="user-survey">
  <div class="row">
    <div class="offset-md-2 col-md-8">

      <% if @survey.active? %>
        <h1>
          <%= @survey.title %>
        </h1>
        <%= @survey.description.html_safe %>
        <hr>
        <form accept-charset="UTF-8" method='post' action='/responses'>
          <% @questions.each do |question| %>
            <div class="user-question shadow">
              <% case question.question_type %>
              <% when "single" %>
                <div class="text-xs-center">
                  <%= image_tag question.image.url(:medium), class: 'form-group img-fluid' unless question.image.blank? %>
                </div>
                <legend><h4><%= question.title %><%= '*' if question.mandatory %></h4></legend>
                <%= question.description.html_safe unless question.description.blank? %>
                <% question.answer_variants.each do |answer_variant| %>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>">
                      <%= answer_variant.title %>
                    </label>
                  </div>
                <% end %>
              <% when "multiply" %>
                <div class="text-xs-center">
                  <%= image_tag question.image.url(:medium), class: 'form-group img-fluid' unless question.image.blank? %>
                </div>
                <legend><h4><%= question.title %><%= '*' if question.mandatory %></h4></legend>
                <%= question.description.html_safe unless question.description.blank? %>
                <% question.answer_variants.each do |answer_variant| %>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="question-<%= question.id %>[]" value="answer-variant-<%= answer_variant.id %>">
                      <%= answer_variant.title %>
                    </label>
                  </div>
                <% end %>
              <% when "text" %>
                <div class="text-xs-center">
                  <%= image_tag question.image.url(:medium), class: 'form-group img-fluid' unless question.image.blank? %>
                </div>
                <label for="question-<%= question.id %>"><h4><%= question.title %><%= '*' if question.mandatory %></h4></label>
                <%= question.description.html_safe unless question.description.blank? %>
                <textarea class="form-control" id="question-<%= question.id %>" rows="3" name="question-<%= question.id %>" placeholder="<%= question.answer_variants.first.title %>"></textarea>
              <% when "scale" %>
                <div class="text-xs-center">
                  <%= image_tag question.image.url(:medium), class: 'form-group img-fluid' unless question.image.blank? %>
                </div>
                <legend><h4><%= question.title %><%= '*' if question.mandatory %></h4></legend>
                <%= question.description.html_safe unless question.description.blank? %>
                <% question.answer_variants.each do |answer_variant| %>
                  <%= answer_variant.title %>
                  <div class="form-group">
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-1"> 1
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-2"> 2
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-3"> 3
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-4"> 4
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-5"> 5
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-6"> 6
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-7"> 7
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-8"> 8
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-9"> 9
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="answer-<%= answer_variant.id %>-question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>-10"> 10
                    </label>
                  </div>
                <% end %>
              <% when 'images_single' %>
                <div class="text-xs-center">
                  <%= image_tag question.image.url(:medium), class: 'form-group' unless question.image.blank? %>
                </div>
                <legend><h4><%= question.title %><%= '*' if question.mandatory %></h4></legend>
                <%= question.description.html_safe unless question.description.blank? %>
                <% question.answer_variants.each do |answer_variant| %>
                  <div class="form-check">
                    <div class="col-sm-4">
                      <div class="card">
                        <%= image_tag answer_variant.image.url(:medium), class: "img-fluid" %>
                        <div class="card-block text-xs-center">
                          <input type="radio" name="question-<%= question.id %>" value="answer-variant-<%= answer_variant.id %>">
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                Another question!
              <% end %>
            </div>
          <% end %>
          <p>* - <%= t('survey.mandatory') %></p>
          <div class="text-xs-center">
            <button type="submit" class="btn btn-primary"><%= t('survey.send_answers') %></button>
          </div>
        </form>
        <br>
        <hr>
        <small>Created in <a href="http://surveys.smiplay.com">Survey App</a>.  Create your survey for free!</small>

      <% else %>
        <div id="page_error">
          <div class="error_message text-xs-center">
            <div class="four-oh-four"><h1>Well...</h1></div>
            <div class="warning">
              <h2>This survey is inactive :(</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
