<% case f.object.question.question_type %>
<% when "single" %>
<div class="input-group">
  <span class="input-group-addon">
    <input type="radio">
  </span>
  <%= f.text_field :title, class: 'form-control', placeholder: 'Write here your answer' %>
  <%= f.hidden_field :_destroy %>
  <span class="delete_answer input-group-addon">
    <i class="fa fa-close"></i>
  </span>
</div>
<% when "multiply" %>
<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox">
  </span>
  <%= f.text_field :title, class: 'form-control', placeholder: 'Write here your answer' %>
  <%= f.hidden_field :_destroy %>
  <span class="delete_answer input-group-addon">
    <i class="fa fa-close"></i>
  </span>
</div>
<% when "text" %>
  <div class="form-group">
    <label>Answer</label>
    <%= f.text_area :title, class: 'form-control', rows: 3, placeholder: 'Write here your answer' %>
  </div>
<% end %>
