<section id="main">
  <div class="container">
    <div class="row">
      <img src="http://data.whicdn.com/images/177237791/original.png" alt="" class="background-img" />
        <div class="container">
          <div class="row">
            <div class="col-sm-6 landing-main-text hidden-sm-down">
              <h1><%= t('landing.welcome') %></h1>
              <p><%= t('landing.paragraph1') %></p>
              <p><%= t('landing.paragraph2') %></p>
              <p><%= t('landing.paragraph3') %></p>
            </div>
            <div class="offset-md-1 col-md-5 landing-main-text">
              <h1><%= t('landing.registration') %></h1>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :email, t('common.email') %><br />
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :password, t('common.password') %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, t('common.password_confirmation') %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.submit t('common.sign_up'), class: 'btn btn-primary btn-lg' %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<section id="cover-image-indent">
</section>

<section id="how_we_can_help">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h1 class=""><%= t('landing.how_we_can_help_header') %></h1>
            <div class="col-sm-4">
              <i class="fa fa-edit"></i>
              <h5><%= t('landing.how_we_can_help_point1') %></h5>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-envelope-o"></i>
              <h5><%= t('landing.how_we_can_help_point2') %></h5>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-send"></i>
              <h5><%= t('landing.how_we_can_help_point3') %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
 <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h1><%= t('landing.testimonials_header') %></h1>
            <br>
            <div class="col-sm-6">
              <h3><%= t('landing.testimonials_point1_header') %></h3>
              <hr>
              <p><%= t('landing.testimonials_point1_content') %></p>
            </div>
            <div class="col-sm-6">
              <h3><%= t('landing.testimonials_point2_header') %></h3>
              <hr>
              <p><%= t('landing.testimonials_point2_content') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
