<%= link_to app_survey_question_path(question.survey, question), method: :delete, data: { confirm: t('common.confirm') }, remote: true do %>
  <i class="fa fa-trash question-form-delete"></i>
<% end %>
<%= form_for [:app, question.survey, question], html: { multipart: true }, :remote => true do |f| %>
  <div class="form-group">
    <%= f.label :title, t('survey.question_text') %>
    <%= f.text_field :title, autocomplete: 'off', class: 'form-control', placeholder: t('survey.write_here_question_text') %>
  </div>
  <div class="form-group" id="question-<%= question.id %>-add-description-link">
    <% if question.description.blank? %>
      <%= link_to t('survey.add_description'), app_survey_question_show_description_path(question.survey, question), remote: true %>
    <% end %>
  </div>
  <div class="form-group" id="question-<%= question.id %>-description">
    <%= render partial: 'question_description', locals: { f: f } unless question.description.blank? %>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <%= f.check_box :mandatory, class: 'form-check-input' %>
      <%= t('survey.mandatory') %>
    </label>
  </div>
  <div class="form-group">
    <%= f.label :answer_variants, t('survey.answer_variants') unless question.question_type == "text" %>
    <div id="question-<%= question.id %>-answer-variants">
      <%= f.fields_for :answer_variants do |answer_variant| %>
        <div id="answer-variant-<%= answer_variant.object.id %>">
          <%= render partial: 'app/answer_variants/answer_variant_fields', locals: { f: answer_variant } %>
        </div>
      <% end %>
    </div>
    <% unless question.question_type == "text" %>
      <%= link_to t('survey.add_answer_variant'), new_app_survey_question_answer_variant_path(question.survey, question, question.answer_variants.new), remote: true %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit t('common.submit'), class: 'btn btn-outline-primary' %>
    <%= link_to t('common.cancel'), app_survey_question_path(question.survey, question), remote: true, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
