  <%= link_to app_survey_question_path(question.survey, question), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
    <i class="fa fa-trash question-form-delete"></i>
  <% end %>
  <%= form_for [:app, question.survey, question], html: { multipart: true }, :remote => true do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: 'off', class: 'form-control', placeholder: 'Write here your question' %>
    </div>
    <div class="form-group">
      <%= f.label :answers unless question.question_type == "text" %>
      <div id="question-<%= question.id %>-answers">
        <%= f.fields_for :answers do |answer| %>
          <div id="answer-<%= answer.object.id %>">
            <%= render partial: 'app/answers/answer_fields', locals: { f: answer } %>
          </div>
        <% end %>
      </div>
      <% unless question.question_type == "text" %>
        <%= link_to "Add answer", new_app_survey_question_answer_path(question.survey, question, question.answers.new), remote: true %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-outline-primary' %>
      <%= link_to "Cancel", app_survey_question_path(question.survey, question), remote: true, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
