<%= link_to app_survey_question_path(question.survey, question), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
  <i class="fa fa-trash question-form-delete"></i>
<% end %>
<%= link_to edit_app_survey_question_path(question.survey, question), remote: true do %>
  <i class="fa fa-pencil question-form-edit"></i>
<% end %>

<div class="form-group">
  <h3><%= question.title.present? ? question.title : t('survey.write_here_question_text') %><%= '*' if question.mandatory %></h3>
  <%= question.description.html_safe unless question.description.blank? %>
</div>

<div id="question-<%= question.id %>-answer-variants">
  <%= render partial: 'app/answer_variants/answer_variants', locals: {question: question} %>
</div>
