<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5><%= t('footer.about_title') %></h5>
        <p><%= t('footer.about_text') %></p>
      </div>
      <div class="col-sm-3">
        <h5><%= t('footer.product_title') %></h5>
        <ul>
          <li><%= t('footer.product_features') %></li>
          <li><%= t('footer.product_examples') %></li>
          <li><%= t('footer.product_tour') %></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><%= t('footer.legal_title') %></h5>
        <ul>
          <li><%= t('footer.legal_terms') %></li>
          <li><%= t('footer.legal_privacy') %></li>
          <li><%= t('footer.legal_agreement') %></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <small>
          Copyright © <%= Date.today.year %> <a href="http://smiplay.com"><%= t('footer.konstantin_smirnov') %></a>. <%= t('footer.all_rights_reserved') %><br>
        </small>
      </div>
    </div>
  </div>
</footer>
