<nav id="header" class="navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Survey application", root_path, class: 'navbar-brand text-uppercase' %>
        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item <%= 'active' if controller?('app/surveys') %>">
            <%= link_to "My Surveys", root_path, class: "btn btn-default" if user_signed_in? %>
          </li>
          <li id="language_selector" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN</a>
              <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                <a class="dropdown-item" href="#">RU</a>
                <a class="dropdown-item" href="#">ES</a>
              </div>
            </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: 'btn btn-outline-primary' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: 'shared/flash' %>
    </div>
  </div>
</div>
