<nav id="header" class="navbar navbar-light bg-faded navbar-fixed-top shadow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to t('header.logo'), root_path, class: 'navbar-brand text-uppercase' %>

        <button class="navbar-toggler pull-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
            <ul class="nav navbar-nav float-xs-right">
              <li class="nav-item <%= 'active' if controller?('app/surveys') %>">
                <%= link_to t('header.my_surveys'), root_path, class: "btn btn-default" if user_signed_in? %>
              </li>
              <% if user_signed_in? %>
                <li id="language_selector" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.locale.upcase %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                    <% User.locales.except(current_user.locale).each do |locale, value| %>
                      <%= link_to "#{locale.upcase}", app_update_locale_path(locale), method: :post, class: 'dropdown-item' %>
                    <% end %>
                  </div>
                </li>
              <% end %>
              <li class="nav-item">
                <% if user_signed_in? %>
                  <%= link_to t('common.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
                <% else %>
                  <%= link_to t('common.sign_in'), new_user_session_path, class: 'btn btn-outline-primary' %>
                <% end %>
              </li>
            </ul>

          </div>





      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: 'shared/flash' %>
    </div>
  </div>
</div>
