<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <h1>
        <%= @survey.title %>
      </h1>
      <%= @survey.description %>
      <hr>
      <p><%= @survey.respondents.count %> <%= t('survey.results.respondents') %></p>

      <% if @survey.respondents.count > 0 %>
        <% @survey.questions.each do |question| %>
          <div class="form-group">
            <h3>
              <%= question.title %>
            </h3>
          </div>


          <%= pie_chart question.responses.joins(:answer_variant).group(:title).count, library: {legend: {} } unless question.question_type == "text" %>
          <fieldset class="form-group">
            <% question.answer_variants.each do |answer_variant| %>

            <% case answer_variant.question.question_type %>
              <% when "text" %>
                <h5><%= answer_variant.responses.count %> answers:</h5>
                <div class="text-answers-list">
                  <% answer_variant.responses.each do |response| %>
                    <div class="text-answer">
                      <%= render partial: 'text_answer', locals: { object: response } %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </fieldset>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-lg-3">
      <%= render partial: 'shared/survey_right_menu' %>
    </div>
  </div>
</div>
