<div class="share-buttons-list">
  <span class="share-button facebook" onclick='share_facebook(
          "<%= "#{survey_url(object.encrypted_link)}" %>",
          "<%= "#{object.title}" %>",
          "<%= "#{object.description}" %>",
          "<%= URI(request.base_url) %>")'>
    <i class="fa fa-facebook"></i>
  </span>

  <a href=
      <%= "https://twitter.com/intent/tweet?" +
      "text=#{URI.encode(object.title)}" +
      "&url=#{survey_url(object.encrypted_link)}" +
      "&via=smiplay" %>
  ><span class="share-button twitter">
    <i class="fa fa-twitter"></i>
  </span></a>

  <span class="share-button linkedin" onclick='share_linkedin(
    "<%= "&url=#{survey_url(object.encrypted_link)}" %>",
    "<%= "&title=#{URI.encode(object.title)}" %>",
    "<%= "&summary=#{URI.encode(object.description)}" %>",
    "<%= "&source=#{URI(request.base_url)}" %>"
  )'>
    <i class="fa fa-linkedin"></i>
  </span></a>
</div>
