<div class="card survey-card shadow" id="survey_<%= survey.id %>">
  <h5 class="card-header">
    <%= link_to "#{truncate(survey.title, length: 38)}", edit_app_survey_path(survey), class: ''%>
  </h5>
  <div class="card-block">
    <p class="card-text"><%= strip_tags(survey.description).truncate(50) %></p>

    <div class="links text-xs-center">
      <%= link_to app_survey_path(survey) do %>
        <i class="fa fa-share-alt-square" title="Share survey with people"></i>
      <% end %>
      |
      <%= link_to app_show_survey_results_path(survey) do %>
        <i class="fa fa-user" title="See and analyze results"><%= survey.respondents.count %></i>
      <% end %>

      <%= link_to app_survey_path(survey), method: :delete, data: { confirm: t('common.confirm') }, remote: true do %>
        <i class="fa fa-trash card-delete"></i>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-xs-center">
    <%= link_to app_survey_activate_path(survey), remote: true do %>
      <%= survey.active? ? t('common.active') : t('common.inactive') %>
    <% end %>
  </div>
</div>
