<%= form_for [:app, survey] do |f| %>
  <div class="form-group">
    <%= f.label :title, t('common.title') %>
    <%= f.text_field :title, autocomplete: 'off', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, t('common.description') %>
    <%= f.text_area :description, autocomplete: 'off', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit t('common.submit'), class: 'btn btn-primary' %>
    <%= link_to "Cancel", (survey.persisted? ? edit_app_survey_path(survey) : app_surveys_path), class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
