<div class="container">
  <div class="row">
    <div class="col-xs-12 text-xs-center main-title">
      <h1>
        <span class="text-xs-center">
          <%= link_to 'Create new survey', new_survey_path, class: 'btn btn-outline-primary' %>
        </span>
      </h1>
      <span>
        <%= link_to "List view", get_list_view_path, class: "#{'active' if current_user.surveys_list_view?}" %>
        |
        <%= link_to "Card view", get_card_view_path, class: "#{'active' if current_user.surveys_card_view?}" %>
      </span>
    </div>
    <div class="col-xs-12">

      <% if current_user.surveys_list_view? %>
      <!-- TABLE VIEW -->
      <table class="table table-hover">
        <thead class="thead-default">
          <tr>
            <th>Title</th>
            <th>Responses</th>
            <th>Share</th>
            <th>Analyze</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @surveys.each do |survey| %>
            <tr>
              <td><%= link_to truncate(survey.title, length: 50), survey_path(survey) %></td>
              <td>0</td>
              <td>share</td>
              <td>link</td>
              <td>
                <%= link_to 'Edit', edit_survey_path(survey) %>
                <%= link_to 'Delete', survey_path(survey), method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- END TABLE VIEW -->
      <% end %>

      <% if current_user.surveys_card_view? %>
        <% @surveys.each do |survey| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card survey-card">
              <div class="card-block">
                <h4 class="card-title"><%= truncate(survey.title, length: 50) %></h4>
                <p class="card-text"><%= truncate(survey.description, length: 100) %></p>
                <%= link_to "Show", survey_path(survey), class: '' %>
                <%= link_to "Edit", edit_survey_path(survey), class: ''%>
                <%= link_to "Delete", survey_path(survey), data: { confirm: "are you sure?" }, class: ''  %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
