<div class="container">
  <div class="row">
    <div class="col-xs-12 text-xs-center main-title">
      <h1>
        <span class="text-xs-center">
          <%= link_to t('survey.create_new_survey'), new_app_survey_path, class: 'btn btn-outline-primary' %>
        </span>
      </h1>
      <span>
        <%= link_to t('common.list_view'), app_get_list_view_path, class: "#{'active' if current_user.surveys_list_view?}" %>
        |
        <%= link_to t('common.card_view'), app_get_card_view_path, class: "#{'active' if current_user.surveys_card_view?}" %>
      </span>
    </div>
    <div class="col-xs-12" id="surveys" data-update-url="<%= sort_app_surveys_url %>">
      <% unless current_user.surveys.any? %>
        <h5 class="text-xs-center"><%= t('survey.no_surveys') %></h5>
      <% else %>
        <% if current_user.surveys_list_view? %>
        <!-- TABLE VIEW -->
        <table class="table table-hover">
          <thead class="thead-default">
            <tr>
              <th><%= t('common.title') %></th>
              <th><%= t('survey.respondents') %></th>
              <th><%= t('common.share') %></th>
              <th><%= t('common.results') %></th>
              <th><%= t('common.status') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @surveys.each do |survey| %>
              <tr id="survey-<%= survey.id %>">
                <%= render partial: 'survey_list_element', locals: { survey: survey } %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- END TABLE VIEW -->
        <% end %>

        <% if current_user.surveys_card_view? %>
        <!-- SURVEYS CARD VIEW -->
          <% @surveys.each do |survey| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="survey-<%= survey.id %>">
              <%= render partial: 'survey_card_element', locals: { survey: survey } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
